@font-face {
  font-family: 'caroni';
  src: url('./assets/fonts/caroni-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
	/* Colors */
  --color-primary: #98a780;
	--color-secondary: #a181a2;
	--color-tertiary: #ed9820;
	--color-light: #e8e4c9;
	--color-dark: #596067;
	--color-light-gray: #c6c5c5;
	--color-gray: #7d8281;
	--color-white: #fff;
	--color-black: #000;
	/* Typography */
	--font-body: 'Rubik', Verdana, sans-serif;
	--font-heading: 'caroni', Times, 'Times New Roman', serif;
	--font-heading-alt: 'caroni', Times, 'Times New Roman', serif;
	/* Sizes */
	--size-300: 0.75rem;
	--size-400: 1rem;
	--size-500: 1.333rem;
	--size-600: 1.777rem;
	--size-700: 2.369rem;
	--size-800: 3.157rem;
	--size-900: 4.209rem;
	/* Alignment */
	--flow-space: 1em;
}
/* Typography */
body {
	font-family: var(--font-body);
	color: var(--color-dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}
.is-style-alt {
	font-family: var(--font-heading-alt);
}
.is-style-uppercase {
	text-transform: uppercase;
}
.is-style-border-bottom-dark {
	padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-primary);
}
.is-style-border-bottom-light {
	padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-white);
}
h1 {
	font-size: var(--size-900);
}
h2 {
	font-size: var(--size-800);
}
h3 {
	font-size: var(--size-700);
}
h4 {
	font-size: var(--size-600);
}
h5 {
	font-size: var(--size-400);
}
h6 {
	font-size: var(--size-300);
}
.has-small-font-size {
	font-size: var(--size-300);
}
.has-regular-font-size {
	font-size: var(--size-400);
}
.has-medium-font-size {
	font-size: var(--size-500);
}
.has-large-font-size {
	font-size: var(--size-700);
}
.has-huge-font-size {
	font-size: var(--size-800);
}
.has-extra-huge-font-size {
	font-size: var(--size-900);
}
/* Colors */
.has-primary-color {
	color: var(--color-);
}
.has-secondary-color {
	color: var(--color-secondary);
}
.has-dark-secondary-color {
	color: var(--color-dark-secondary);
}
.has-light-color {
	color: var(--color-light);
}
.has-dark-color {
	color: var(--color-dark);
}
.has-light-gray-color {
	color: var(--color-light-gray);
}
.has-gray-color {
	color: var(--color-gray);
}
.has-dark-gray-color {
	color: var(--color-dark-gray);
}
.has-white-color {
	color: var(--color-white);
}
.has-black-color {
	color: var(--color-black);
}

/* Groups */
.wp-block-group {
	padding-top: var(--size-900);
	padding-bottom: var(--size-900);
}
.is-style-green {
	margin-top: 0;
	background-color: var(--color-primary);
	color: var(--color-white);
}
.is-style-gray {
	margin-top: 0;
	background-color: var(--color-gray);
	color: var(--color-white);
}
.is-style-yellow {
	margin-top: 0;
	background-color: var(--color-tertiary);
	color: var(--color-white);
}
.is-style-beige {
	margin-top: 0;
	background-color: var(--color-light);
	color: var(--color-gray);
}
.is-style-purple {
	margin-top: 0;
	background-color: var(--color-secondary);
	color: var(--color-white);
}
.is-style-purple *,
.is-style-green *,
.is-style-yellow *,
.is-style-gray *,
.wp-block-cover * {
	color: var(--color-white);
}

.is-style-beige * {
  color: var(--color-gray);
}

/* Images */
.inline-icon img {
	display: inline-block;
	margin-right: .25em;
	max-width: 1.25em;
	height: auto;
	vertical-align: text-bottom;
}

.wp-block-button__link {
	border: none;
	border-radius: .5rem;
	box-shadow: none;
	color: var(--color-white);
	background-color: var(--color-tertiary);
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: 0;
	padding: .5rem 1rem;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
	font-family: var(--font-heading);
	text-transform: uppercase;
	font-weight: 700;
}
.is-style-full-width-button a {
	width: 100%;
}

/* Utilities */
.mt-0 {
	margin-top: 0 !important;
}

/* Toast Group */
.toast-modal {
	background-color: rgba(237, 152, 32, .9);
}
.toast-modal p {
	color: var(--color-white);
}

/* Editor Interface Styling */
/* Main column width */
.wp-block {

}

textarea {
  color: var(--color-black) !important;
}
