/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "caroni";
  src: url("./assets/fonts/caroni-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Colors */
  --color-primary: #55C7B5;
  --color-secondary: #AD8AB5;
  --color-tertiary: #f4b223;
  --color-primary-300: #EAE0D2;
  --color-primary-400: #5E6738;
  --color-tertiary-500: #E5A261;
  --color-light: #E7E4C9;
  --color-dark: #5A6067;
  --color-light-gray: #D9D9D6;
  --color-gray: #7D9C91;
  --color-white: #fff;
  --color-black: #000;
  /* Typography */
  --font-body: "Rubik", Verdana, sans-serif;
  --font-heading: "caroni", Times, "Times New Roman", serif;
  --font-heading-alt: "caroni", Times, "Times New Roman", serif;
  /* Sizes */
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.333rem;
  --size-600: 1.777rem;
  --size-700: 2.369rem;
  --size-800: 3.157rem;
  --size-900: 4.209rem;
  /* Alignment */
  --flow-space: 1em;
}

.add-flow * + *,
.wp-block-group * + * {
  --flow-space: 1em;
  margin-top: var(--flow-space);
}

.remove-flow {
  --flow-space: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: var(--color-light);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: var(--color-primary);
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt {
  margin-top: var(--flow-space);
}

.mt-l {
  margin-top: var(--size-700);
}

.mt-xl {
  margin-top: var(--size-900);
}

.mb-l {
  margin-bottom: var(--size-700);
}

.mb-xl {
  margin-bottom: var(--size-900);
}

.mt-0 {
  margin-top: 0 !important;
}

.my-l {
  margin-top: var(--size-700) !important;
  margin-bottom: var(--size-700) !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-l {
  padding-top: var(--size-700);
}

.pt-xl {
  padding-top: var(--size-900);
}

.py-xl {
  padding-top: var(--size-900) !important;
  padding-bottom: var(--size-900) !important;
}

.py {
  padding-top: var(--flow-space);
  padding-bottom: var(--flow-space);
}

@media (min-width: 48rem) {
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mx-deep {
    margin-left: var(--size-800);
    margin-right: var(--size-800);
  }
}
.inline-icon img {
  display: inline-block;
  margin-right: 0.25em;
  max-width: 1.25em;
  height: auto;
  vertical-align: text-bottom;
}

.font-style-heading {
  font-family: var(--font-heading);
}

.font-style-body {
  font-family: var(--font-body);
}

.text-uppercase {
  text-transform: uppercase;
}

.underline, .border-bottom {
  border-bottom: 1px solid var(--color-gray);
}

.border-top {
  border-top: 1px solid var(--color-gray);
}

.graph-400 {
  font-size: var(--size-400);
}

.opacity-0 {
  opacity: 0 !important;
}

.align-self-center {
  align-self: center;
}

/* Typography */
.is-style-cursive {
  font-family: var(--font-heading-alt);
}

.is-style-uppercase {
  text-transform: uppercase;
}

.is-style-border-bottom-dark {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-primary);
}

.is-style-border-bottom-light {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-white);
}

.has-small-font-size {
  font-size: var(--size-300);
}

.has-regular-font-size {
  font-size: var(--size-400);
}

.has-medium-font-size {
  font-size: var(--size-500);
}

.has-large-font-size {
  font-size: var(--size-700);
}

.has-huge-font-size {
  font-size: var(--size-800);
}

.has-extra-huge-font-size {
  font-size: var(--size-900);
}

/* Colors */
.has-primary-color {
  color: var(--color-primary);
}

.has-secondary-color {
  color: var(--color-secondary);
}

.has-dark-secondary-color {
  color: var(--color-dark-secondary);
}

.has-light-color {
  color: var(--color-light);
}

.has-dark-color {
  color: var(--color-dark);
}

.has-light-gray-color {
  color: var(--color-light-gray);
}

.has-gray-color {
  color: var(--color-gray);
}

.has-dark-color {
  color: var(--color-dark);
}

.has-white-color {
  color: var(--color-white);
}

.has-black-color {
  color: var(--color-black);
}

.has-primary-background-color {
  background-color: var(--color-primary);
}

.has-secondary-background-color {
  background-color: var(--color-secondary);
}

.has-dark-secondary-background-color {
  background-color: var(--color-dark-secondary);
}

.has-light-background-color {
  background-color: var(--color-light);
}

.has-dark-background-color {
  background-color: var(--color-dark);
}

.has-light-gray-background-color {
  background-color: var(--color-light-gray);
}

.has-gray-background-color {
  background-color: var(--color-gray);
}

.has-dark-background-color {
  background-color: var(--color-dark);
}

.has-white-background-color {
  background-color: var(--color-white);
}

.has-black-background-color {
  background-color: var(--color-black);
}

/* Groups */
.is-style-green {
  margin-top: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.is-style-green a {
  color: var(--color-white);
}

.is-style-gray {
  margin-top: 0;
  background-color: var(--color-gray);
  color: var(--color-white);
}
.is-style-gray a {
  color: var(--color-white);
}

.is-style-yellow {
  margin-top: 0;
  background-color: var(--color-tertiary);
  color: var(--color-white);
}
.is-style-yellow a {
  color: var(--color-white);
}

.is-style-beige {
  margin-top: 0;
  background-color: var(--color-light);
  color: var(--color-gray);
}
.is-style-beige a {
  color: var(--color-gray);
}

.is-style-purple {
  margin-top: 0;
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.is-style-purple a {
  color: var(--color-white);
}

@media (min-width: 48rem) {
  .is-style-canvas {
    background-image: url("//northashevilletailgatemarket.com/wp-content/uploads/2020/06/CanvasBackgroundOptim-e1593114887792.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 5000px rgba(255, 255, 255, 0.1);
  }
  .is-style-wood {
    background-image: url("//northashevilletailgatemarket.com/wp-content/uploads/2020/06/WoodBackground_AddBrownOverlay-1200x900.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 5000px rgba(75, 61, 42, 0.85);
  }
}
/* Image Block */
.is-style-caption-overlay-square {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 80%;
  margin-bottom: 0;
}
.is-style-caption-overlay-square img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.is-style-caption-overlay-square figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--color-white);
  margin: 0;
  text-align: center;
  line-height: 1.3;
}
.is-style-caption-overlay-square figcaption a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: background 200ms;
}
.is-style-caption-overlay-square figcaption a:hover {
  background-color: var(--color-primary);
}

/* Alignment */
.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  padding: var(--size-900) var(--size-400);
}
.alignfull > div {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
}

.alignwide {
  margin: auto calc(25% - 25vw);
  max-width: 100vw;
  width: 100vw;
  padding: var(--size-600) var(--size-400);
}
.alignwide > div {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
}

/* Google Maps Block */
.responsive-map {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  height: 0;
  padding-bottom: 50% !important;
}

.responsive-map iframe {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Misc blocks */
.wp-block-separator {
  border-bottom: 1px solid var(--color-primary);
}

.wp-block-group {
  padding-top: var(--size-900);
  padding-bottom: var(--size-900);
}

.wp-block-table table {
  border-spacing: 0;
  border: 1px solid var(--color-dark);
  border-left: none;
  border-top: none;
}
.wp-block-table th, .wp-block-table td {
  border: 1px solid var(--color-dark);
  border-bottom: none;
  border-right: none;
  padding: 0.5em 1em;
}

.wp-block-cover {
  min-height: 520px !important;
}

@media (min-width: 64rem) {
  .wp-block-cover {
    min-height: 820px !important;
  }
}
/* WP Columns override */
@media (min-width: 48rem) {
  .wp-block-column {
    margin-top: 0;
  }
}
/* Listings Grid Block */
.natm-business-listing--grid .natm-business-listing--grid-item .listing-thumbnail {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 80%;
}
.natm-business-listing--grid .natm-business-listing--grid-item .listing-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.natm-business-listing--grid .natm-business-listing--grid-item .listing-headline {
  font-size: var(--size-500);
}
.natm-business-listing--grid .natm-business-listing--grid-item p {
  font-size: var(--size-400);
}
@media (min-width: 48rem) {
  .natm-business-listing--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  .natm-business-listing--grid .natm-business-listing--grid-item .listing-headline {
    font-size: var(--size-500);
  }
  .natm-business-listing--grid .natm-business-listing--grid-item p {
    font-size: var(--size-400);
  }
  .natm-business-listing--grid .natm-business-listing--grid-item:not(:first-child) {
    margin-top: 0;
  }
}
/* Instagram Block */
#sb_instagram .sb_instagram_header .sbi_header_text.sbi_no_bio h3 {
  padding-top: 0 !important;
  font-size: var(--size-400);
  font-family: var(--font-heading-alt);
  word-break: break-all;
}
#sb_instagram .sb_instagram_header a {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

@media (min-width: 48rem) {
  #sb_instagram .sb_instagram_header .sbi_header_text.sbi_no_bio h3 {
    font-size: var(--size-600);
  }
}
#sb_instagram .sbi_follow_btn {
  margin-top: 0;
}
#sb_instagram .sbi_follow_btn a {
  background: var(--color-tertiary);
}
#sb_instagram .sbi_follow_btn a:hover, #sb_instagram .sbi_follow_btn a:focus {
  background-color: hsl(41deg, 90%, 45%);
}

#sb_instagram .sbi_follow_btn a:focus,
#sb_instagram .sbi_follow_btn a:hover {
  box-shadow: unset;
}

/* Home Hero Fader */
body {
  padding-top: 9rem;
}

@media (min-width: 64rem) {
  body {
    padding-top: 15rem;
  }
  body.has-cover {
    padding-top: 3rem;
  }
}
body.no-sidebar {
  padding-top: 5rem;
}

.entry-header {
  display: block;
}

.page.has-cover .site-content {
  padding-top: 0;
}
.page.has-cover .entry-header {
  display: none;
}

#wpadminbar {
  position: fixed;
}

.site-wrap {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.entry-content,
.entry-header {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.site-footer {
  background-color: var(--color-gray);
  margin-top: var(--size-700);
}
.site-footer * {
  color: var(--color-white);
}
.site-footer a {
  color: var(--color-white);
}
.site-footer a:hover {
  color: var(--color-white);
}
.site-footer .footer-wrap {
  padding-top: var(--size-700);
  padding-bottom: var(--size-700);
  padding-right: var(--flow-space);
  padding-left: var(--flow-space);
}
.site-footer .footer-wrap .footer-top .footer-nav {
  display: flex;
  justify-content: center;
  padding-top: var(--size-700);
  padding-bottom: var(--size-700);
}
.site-footer .footer-wrap .footer-top .footer-nav a {
  display: block;
  font-family: var(--font-heading-alt);
  text-decoration: none;
  font-size: var(--size-600);
  padding: 0.25rem 0;
  text-align: center;
}
.site-footer .footer-wrap .footer-top .footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--size-700);
  padding-bottom: var(--size-700);
}
.site-footer .footer-wrap .footer-top .footer-social h5 {
  width: 100%;
  text-align: center;
  font-size: var(--size-500);
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.site-footer .footer-wrap .footer-top .footer-social ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 auto;
  padding: 0;
  width: 70%;
  max-width: 15.625rem;
}
.site-footer .footer-wrap .footer-top .footer-social ul li {
  display: block;
}
.site-footer .footer-wrap .footer-top .footer-social ul li img {
  width: var(--size-600);
  height: var(--size-600);
}
.site-footer .footer-wrap .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  text-align: center;
  padding-top: var(--size-700);
  padding-bottom: var(--size-700);
}
.site-footer .footer-wrap .footer-info p {
  font-size: var(--size-400);
}
.site-footer .footer-wrap .footer-info p:first-child {
  margin-bottom: var(--size-500);
}
.site-footer .footer-wrap .footer-vendor {
  text-align: center;
}

.footer-back-top {
  display: flex;
  justify-content: center;
  background: var(--color-tertiary);
}
.footer-back-top .back-top-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: var(--font-heading);
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.75rem 0.5rem;
}
.footer-back-top .back-top-button:after {
  content: url(./assets/images/icons/arrow-up.svg);
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  background-size: 1.25em 1.25em;
  filter: invert(100%);
}

@media (min-width: 64rem) {
  .site-footer .footer-wrap .footer-top, .site-footer .footer-wrap .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 0 auto;
  }
  .site-footer .footer-wrap .footer-top .footer-search {
    width: 25%;
  }
  .site-footer .footer-wrap .footer-top .footer-nav {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 50%;
    padding-bottom: var(--size-500);
  }
  .site-footer .footer-wrap .footer-top .footer-nav a {
    display: block;
    font-family: var(--font-heading-alt);
    text-decoration: none;
    font-size: var(--size-600);
    padding: 0;
    text-align: center;
  }
  .site-footer .footer-wrap .footer-top .footer-nav a:hover {
    color: var(--color-white);
  }
  .site-footer .footer-wrap .footer-top .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 25%;
  }
  .site-footer .footer-wrap .footer-top .footer-social h5 {
    width: 100%;
    text-align: right;
    font-size: var(--size-500);
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .site-footer .footer-wrap .footer-top .footer-social ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 auto;
    padding: 0;
    width: 70%;
  }
  .site-footer .footer-wrap .footer-top .footer-social ul li {
    display: block;
  }
  .site-footer .footer-wrap .footer-top .footer-social ul li img {
    width: var(--size-600);
    height: var(--size-600);
  }
  .site-footer .footer-wrap .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    text-align: left;
    padding-bottom: var(--size-500);
  }
  .site-footer .footer-wrap .footer-info p {
    font-size: var(--size-400);
  }
  .site-footer .footer-wrap .footer-info p:first-child {
    margin-bottom: var(--size-500);
  }
}
.wp-block-button__link,
.button,
.contact-form-block input[type=submit] {
  border: none;
  border-radius: 0.25em;
  box-shadow: none;
  color: var(--color-white);
  background-color: var(--color-tertiary);
  cursor: pointer;
  display: inline-block;
  font-size: var(--size-400);
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  font-family: var(--font-heading-alt);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.05em;
  transition: background 200ms;
}
.wp-block-button__link:hover,
.button:hover,
.contact-form-block input[type=submit]:hover {
  background-color: hsl(41deg, 90%, 45%);
  color: var(--color-white);
}

.wp-block-button.is-style-full-width-button > a {
  width: 100%;
}

body.nav-open {
  overflow: hidden;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.admin-bar .site-header {
  top: 46px;
}

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  line-height: 1.2;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0 var(--flow-space);
}
.top-banner p {
  font-size: var(--size-400);
}
.top-banner a {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.top-banner a:hover {
  color: var(--color-white);
}

.nav-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: var(--color-light);
  padding-left: var(--flow-space);
  padding-right: var(--flow-space);
}

.menu-toggle {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}
.menu-toggle svg {
  width: var(--size-500);
  height: var(--size-500);
}

.menu-toggle {
  margin: 0;
  padding: 0;
}

.menu-toggle:focus {
  outline: transparent;
}

.menu-toggle[aria-expanded=false] .open-icon {
  width: 2rem;
  height: auto;
}
.menu-toggle[aria-expanded=false] .open-icon path {
  fill: var(--color-white);
}
.menu-toggle[aria-expanded=false] .close-icon {
  display: none;
}

.menu-toggle[aria-expanded=true] .open-icon {
  display: none;
}
.menu-toggle[aria-expanded=true] .close-icon {
  width: 2rem;
  height: auto;
}
.menu-toggle[aria-expanded=true] .close-icon path {
  fill: var(--color-white);
}

.menu-toggle[aria-expanded=false] + .menu-main-menu-container {
  visibility: hidden;
  position: relative;
  transform: translateX(-100%);
  transition: transform 200ms;
}

.menu-toggle[aria-expanded=true] + .menu-main-menu-container {
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 11;
  transform: translateX(0);
  transition: transform 200ms;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  background: var(--color-primary);
}

.custom-logo {
  max-width: 270px;
  width: 100%;
  height: auto;
}

.menu-main-menu-container .nav-menu .menu-item {
  display: block;
  width: 100%;
}
.menu-main-menu-container .nav-menu .menu-item a {
  display: block;
  width: 100%;
  background: var(--color-primary-300);
  font-family: var(--font-heading);
  font-size: var(--size-500);
  color: var(--color-primary);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  border-top: 1px solid var(--color-primary-400);
  padding: 1rem;
  transition: all 200ms;
}
.menu-main-menu-container .nav-menu .menu-item a:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.menu-main-menu-container .nav-menu li.current-menu-item a {
  background: var(--color-light);
}
.menu-main-menu-container .nav-menu .nav-social {
  background-color: var(--color-primary);
  color: var(--color-white);
  max-width: 54%;
  width: 100%;
  padding: var(--size-500) 0 var(--size-900);
}
.menu-main-menu-container .nav-menu .nav-social h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--size-500);
  margin: 0 0 1em 0;
  white-space: nowrap;
}
.menu-main-menu-container .nav-menu .nav-social ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.menu-main-menu-container .nav-menu .nav-social ul li {
  display: block;
}
.menu-main-menu-container .nav-menu .nav-social ul li img {
  width: var(--size-700);
  height: var(--size-700);
}

.menu-main-menu-container .nav-menu[aria-expanded=false] {
  display: none;
}

.menu-main-menu-container .nav-menu[aria-expanded=true] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 9rem);
}
.menu-main-menu-container .nav-menu[aria-expanded=true] #menu-item-988,
.menu-main-menu-container .nav-menu[aria-expanded=true] #menu-item-989 {
  display: none;
}

@media (min-width: 48.9375rem) {
  .admin-bar .site-header {
    top: 32px;
  }
}
@media (min-width: 64rem) {
  .top-banner {
    height: 3rem;
  }
  .site-branding {
    display: none;
  }
  .main-navigation {
    width: 100%;
  }
  .nav-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: var(--color-light);
  }
  .has-cover .nav-wrapper {
    transition: background 500ms;
    background-color: rgba(231, 228, 201, 0.2);
  }
  .has-cover.scrolled .nav-wrapper {
    transition: background 500ms;
    background-color: var(--color-light);
  }
  .menu-toggle {
    display: none;
  }
  .menu-toggle[aria-expanded=false] + .menu-main-menu-container,
  .menu-toggle[aria-expanded=true] + .menu-main-menu-container {
    visibility: visible;
    transform: translateX(0);
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false],
  .menu-main-menu-container .nav-menu[aria-expanded=true] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    position: static;
    top: unset;
    left: unset;
    z-index: 11;
    width: 100%;
    height: 5.5rem;
    transition: height 500ms;
    overflow: visible;
    background: transparent;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item,
  .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item {
    display: flex;
    max-height: 5.5rem;
    transition: max-height 500ms;
    height: 100%;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item a,
  .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: var(--size-500);
    font-weight: 500;
    border-radius: 0;
    border: 0;
    transition: all 200ms;
    width: 100%;
    padding: 0;
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item a:hover,
  .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item a:hover {
    color: var(--color-white);
    background-color: transparent;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item:first-child,
  .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item:first-child {
    margin-left: 2rem;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] .current-menu-item a,
  .menu-main-menu-container .nav-menu[aria-expanded=true] .current-menu-item a {
    color: var(--color-white);
    background: transparent;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] #menu-item-988,
  .menu-main-menu-container .nav-menu[aria-expanded=true] #menu-item-988 {
    display: revert;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] #menu-item-988 a,
  .menu-main-menu-container .nav-menu[aria-expanded=true] #menu-item-988 a {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] #menu-item-988 ._svg,
  .menu-main-menu-container .nav-menu[aria-expanded=true] #menu-item-988 ._svg {
    max-width: 10rem;
    transition: max-width 500ms;
    width: 100%;
    height: auto;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item:nth-child(9),
  .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item:nth-child(9) {
    height: 5rem;
    align-self: center;
  }
  .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item:nth-child(9) a,
  .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item:nth-child(9) a {
    padding: 0.5rem 1rem;
    background: var(--color-primary);
    font-size: var(--size-400);
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
  .scrolled .nav-wrapper {
    height: 3rem;
  }
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=false],
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=true] {
    transition: height 500ms;
    height: 3.5rem;
  }
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item,
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item {
    transition: max-height 500ms;
    max-height: 3.5rem;
  }
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item a,
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item a {
    color: var(--color-gray);
  }
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=false] #menu-item-988 ._svg,
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=true] #menu-item-988 ._svg {
    transition: max-width 500ms;
    max-width: 6rem;
  }
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item:nth-child(9),
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item:nth-child(9) {
    height: 3rem;
  }
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=false] .menu-item:nth-child(9) a,
  .scrolled .menu-main-menu-container .nav-menu[aria-expanded=true] .menu-item:nth-child(9) a {
    color: var(--color-white);
  }
  .nav-social {
    display: none;
  }
}
.fade-tile {
  position: relative;
  display: block;
}
.fade-tile > img {
  display: block;
  width: 100%;
  height: auto;
}
.fade-tile > figcaption {
  margin: 0;
}
.fade-tile a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0;
  color: var(--color-white);
  font-family: var(--font-heading);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  transition: background 200ms;
}
.fade-tile a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
}
.fade-tile a:hover {
  background: var(--color-gray);
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  border: 0;
  border-radius: 0.25em;
  padding: 0.5rem;
  background: var(--color-light);
  color: var(--color-gray);
  outline-color: var(--color-gray);
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
input[type=submit],
.g-recaptcha {
  margin-top: var(--flow-space);
}

.no-results input[type=text] {
  background: var(--color-primary-light);
  color: var(--color-white);
  outline-color: var(--color-primary-400);
}

.contact-form .grunion-field-wrap,
#mc-embedded-subscribe-form .grunion-field-wrap {
  margin: 0;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form textarea,
#mc-embedded-subscribe-form input[type=text],
#mc-embedded-subscribe-form input[type=email],
#mc-embedded-subscribe-form input[type=tel],
#mc-embedded-subscribe-form textarea {
  background: var(--color-light);
  color: var(--color-gray);
  outline-color: var(--color-light-gray);
  margin: 0;
}
.contact-form input[type=text]::placeholder,
.contact-form input[type=email]::placeholder,
.contact-form input[type=tel]::placeholder,
.contact-form textarea::placeholder,
#mc-embedded-subscribe-form input[type=text]::placeholder,
#mc-embedded-subscribe-form input[type=email]::placeholder,
#mc-embedded-subscribe-form input[type=tel]::placeholder,
#mc-embedded-subscribe-form textarea::placeholder {
  color: var(--color-gray);
}
.contact-form .wp-block-jetpack-button,
#mc-embedded-subscribe-form .wp-block-jetpack-button {
  text-align: center;
  margin-top: 0;
}

#mc-embedded-subscribe-form {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.pagination > * + * {
  margin-top: 0;
}
.pagination > * {
  display: block;
  padding: 0 0.2rem;
}
.pagination a, .pagination span {
  font-family: var(--font-heading);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.pagination a {
  color: var(--color-primary);
}
.pagination span {
  color: var(--color-gray);
}

@media (min-width: 64rem) {
  .pagination * {
    padding: 0.5rem 1.5rem;
  }
  .pagination a, .pagination span {
    border-radius: 0.25em;
  }
  .pagination a {
    background-color: var(--color-primary);
    transition: background 200ms;
    color: var(--color-white);
  }
  .pagination a:hover {
    background-color: var(--color-tertiary);
    color: var(--color-white);
  }
  .pagination span {
    background-color: var(--color-light-gray);
    color: var(--color-dark);
  }
}
.toast-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(85, 199, 181, 0.9);
  z-index: 998;
  transform: translateY(100%);
  transition: transform 400ms, opacity 400ms;
  opacity: 0;
  padding: 0;
}
.toast-modal p {
  position: relative;
  font-size: var(--size-500);
  font-weight: 300;
  color: var(--color-white);
  z-index: 999;
}
.toast-modal p a {
  display: block;
  margin: 0 auto;
  color: var(--color-white);
  text-decoration: none;
  padding: var(--size-700);
}
.toast-modal .wp-block-buttons {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  margin: 0;
}
.toast-modal .wp-block-buttons .close-modal a {
  background-color: transparent;
  padding: 1rem;
}
.toast-modal .wp-block-buttons .close-modal a img {
  max-width: 1rem;
  opacity: 0.8;
}

.toast-modal.show {
  opacity: 1;
  transform: translateY(0);
  transition: transform 400ms, opacity 400ms;
}

@media (min-width: 48rem) {
  .toast-modal p {
    font-size: var(--size-600);
  }
  .toast-modal p a {
    padding: var(--size-900);
  }
}
.home .wp-block-cover {
  transition: background 1000ms;
}
.home .wp-block-cover p {
  font-size: var(--size-600) !important;
}
.home .wp-block-cover .inline-icon {
  font-weight: 300;
}
.home .wp-block-cover .inline-icon a {
  color: var(--color-white);
}
.home .wp-block-cover .inline-icon a:hover {
  text-decoration: none;
  text-decoration-thickness: 1px;
}
.home .home-market-values .is-style-caption-overlay-square figcaption {
  font-size: var(--size-800);
}

@media (min-width: 48rem) {
  .home .home-market-values .is-style-caption-overlay-square figcaption {
    font-size: var(--size-700);
  }
}
@media (min-width: 64rem) {
  .home .wp-block-cover p {
    font-size: var(--size-700) !important;
  }
  .home .home-market-values .is-style-caption-overlay-square figcaption {
    font-size: var(--size-600);
  }
}
.natm_listing .post-thumbnail img {
  width: 100%;
  height: auto;
}

.natm_listing.category-sponsor .post-thumbnail {
  padding-top: var(--flow-space);
  padding-bottom: var(--flow-space);
}
.natm_listing.category-sponsor .post-thumbnail img {
  max-width: 600px;
  margin: 0 auto;
}

.search .site-wrap {
  padding-bottom: var(--size-900);
}
.search article {
  padding: var(--size-700);
  border-radius: 0.25em;
}
.search article:nth-child(even) {
  background-color: var(--color-light-gray);
}
.search .entry-content {
  display: flex;
  flex-direction: column;
  padding-top: var(--flow-space);
  padding-bottom: var(--flow-space);
}
.search .entry-content .entry-image {
  margin-bottom: 1rem;
}
.search .entry-content .entry-image img {
  width: 100%;
  height: auto;
}

@media (min-width: 48rem) {
  .search .site-wrap {
    padding-bottom: var(--size-900);
  }
  .search article {
    padding: var(--size-700);
    border-radius: 0.25em;
  }
  .search article:nth-child(even) {
    background-color: var(--color-light-gray);
  }
  .search .entry-content {
    flex-direction: row;
  }
  .search .entry-content .entry-summary {
    padding-left: var(--flow-space);
  }
  .search .entry-content .entry-image img {
    width: 20rem;
    max-width: unset;
  }
}
#ourMembers, #dayVendors {
  scroll-margin-top: 12rem;
}

.page-id-466 .wp-block-cover .wp-block-cover__inner-container {
  width: auto;
}

.post-479 .contact-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-479 .contact-icons {
  display: flex;
  align-items: flex-start;
  font-size: var(--size-500);
  word-break: break-all;
}

@media (min-width: 64rem) {
  .post-479 .contact-icons {
    align-items: center;
    font-size: var(--size-600);
  }
}
#parking-info {
  scroll-margin-top: 9.5rem;
}

@media (min-width: 64rem) {
  #parking-info {
    scroll-margin-top: 7rem;
  }
}
html {
  font-size: 16px;
}

body {
  font-size: 1.1rem;
  color: var(--color-primary);
  font-family: var(--font-body);
  line-height: 1.625;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: var(--size-700);
}

@media (min-width: 64rem) {
  h1 {
    font-size: var(--size-900);
  }
}
h2 {
  font-size: var(--size-800);
}

h3 {
  font-size: var(--size-700);
}

h4 {
  font-size: var(--size-600);
}

h5 {
  font-size: var(--size-400);
}

h6 {
  font-size: var(--size-300);
}

p, ul, ol, input, textarea {
  font-size: var(--size-500);
}

a {
  color: var(--color-primary);
  transition: color 200ms;
}
a:hover {
  color: var(--color-tertiary);
  text-decoration: none;
}
