input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	width: 100%;
	border: 0;
	border-radius: .25em;
	padding: .5rem;
	background: var(--color-white);
	color: var(--color-primary);
	outline-color: var(--color-primary);
}
input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
input[type='submit'],
.g-recaptcha {
	margin-top: var(--flow-space);
}
.no-results {
	input[type='text'] {
		background: var(--color-primary-light);
		color: var(--color-white);
		outline-color: var(--color-primary-400);
	}
}

.contact-form,
#mc-embedded-subscribe-form {
	.grunion-field-wrap {
		margin: 0;
	}
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	textarea {
		background: var(--color-primary-300);
		color: var(--color-white);
		outline-color: var(--color-primary-400);
		margin: 0;
		&::placeholder {
			color: var(--color-white);
		}
	}
	.wp-block-jetpack-button {
		text-align: center;
		margin-top: 0;
	}
}

@media (min-width: 64rem) {

}
