body.nav-open {
	overflow: hidden;
}
.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.admin-bar .site-header {
	top: 46px;
}
.top-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 4rem;
	line-height: 1.2;
	background: var(--color-tertiary);
	color: var(--color-white);
	padding: 0 var(--flow-space);
	p {
		font-size: var(--size-400);
	}
	a {
		display: flex;
		justify-content: center;
		color: var(--color-white);
		text-decoration: none;
		width: 100%;
		height: 100%;
		&:hover {
			color: var(--color-white);
		}
	}
}
.nav-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	background-color: var(--color-primary);
	padding-left: var(--flow-space);
	padding-right: var(--flow-space);
}
.menu-toggle {
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	svg {
		width: var(--size-500);
		height: var(--size-500);
	}

}
.menu-toggle {
	margin: 0;
	padding: 0;
}
.menu-toggle:focus {
	outline: transparent;
}
.menu-toggle[aria-expanded="false"] {
	.open-icon {
		width: 2rem;
		height: auto;
		path {
			fill: var(--color-white);
		}
	}
	.close-icon {
		display: none;
	}
}
.menu-toggle[aria-expanded="true"] {
	.open-icon {
		display: none;
	}
	.close-icon {
		width: 2rem;
		height: auto;
		path {
			fill: var(--color-white);
		}
	}
}
.menu-toggle[aria-expanded="false"] + .menu-main-menu-container  {
	visibility: hidden;
	position: relative;
	transform: translateX(-100%);
	transition: transform 200ms;
}
.menu-toggle[aria-expanded="true"] + .menu-main-menu-container {
	position: absolute;
	top: 5rem;
	left: 0;
	z-index: 11;
	transform: translateX(0);
	transition: transform 200ms;
	width: 100%;
	height: auto;
	overflow-y: scroll;
	background: var(--color-primary);
}
.custom-logo {
	max-width: 270px;
	width: 100%;
	height: auto;
}
.menu-main-menu-container .nav-menu {
	.menu-item {
		display: block;
		width: 100%;
		a {
			display: block;
			width: 100%;
			background: var(--color-primary-300);
			font-size: var(--size-500);
			color: var(--color-primary);
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			border-radius: 0;
			border-top: 1px solid var(--color-primary-400);
			//border-bottom: 1px solid var(--color-primary-400);
			padding: 1rem;
			transition: all 200ms;
			&:hover {
				color: var(--color-white);
				background-color: var(--color-primary);
			}
		}
	}
	li.current-menu-item  a {
		background: var(--color-light);
	}
	.nav-social {
		background-color: var(--color-primary);
		color: var(--color-white);
		max-width: 54%;
		width: 100%;
		padding: var(--size-500) 0 var(--size-900);
		h5 {
			text-align: center;
			text-transform: uppercase;
			font-size: var(--size-500);
			margin: 0 0 1em 0;
			white-space: nowrap;
		}
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			li {
				display: block;
				img {
					width: var(--size-700);
					height: var(--size-700);
				}
			}
		}
	}
}
.menu-main-menu-container .nav-menu[aria-expanded="false"] {
	display: none;

}
.menu-main-menu-container .nav-menu[aria-expanded="true"] {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: calc(100vh - 9rem);
	#menu-item-988,
	#menu-item-989 {
		display: none;
	}
}
@media (min-width: 48.9375rem) {
	.admin-bar .site-header {
		top: 32px;
	}
}
@media (min-width: 64rem) {
	.top-banner {
		height: 3rem;
	}
	.site-branding {
		display: none;
	}
	.main-navigation {
		width: 100%;
	}
	.nav-wrapper {
		padding-left: 0;
		padding-right: 0;
		background-color: var(--color-primary);
	}
	.has-cover .nav-wrapper {
		transition: background 500ms;
		background-color: rgba(75,61,42,.3);
	}
	.has-cover.scrolled .nav-wrapper {
		transition: background 500ms;
		background-color: var(--color-primary);
	}
	.menu-toggle {
		display: none;
	}
	.menu-toggle[aria-expanded="false"] + .menu-main-menu-container,
	.menu-toggle[aria-expanded="true"] + .menu-main-menu-container {
		visibility: visible;
		transform: translateX(0);
	}
	.menu-main-menu-container .nav-menu[aria-expanded="false"],
	.menu-main-menu-container .nav-menu[aria-expanded="true"] {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		position: static;
		top: unset;
		left: unset;
		z-index: 11;
		width: 100%;
		height: 5.5rem;
		transition: height 500ms;
		overflow: visible;
		background: transparent;
		.menu-item {
			display: flex;
			max-height: 5.5rem;
			transition: max-height 500ms;
			height: 100%;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				background: transparent;
				font-family: var(--font-heading);
				font-size: .9rem;
				font-weight: 500;
				border-radius: 0;
				border: 0;
				transition: all 200ms;
				width: 100%;
				padding: 0;
				color: var(--color-white);
				text-align: center;
				text-decoration: none;
				&:hover {
					color: var(--color-white);
					background-color: transparent;
				}
			}
		}
		.menu-item:first-child {
			margin-left: 2rem;
		}
		.current-menu-item  a {
			color: var(--color-white);
			background: transparent;
		}
		#menu-item-988 {
			display: revert;
			a {
				display: block;
				padding-top: .5rem;
				padding-bottom: 0;
				padding-right: 0;
				padding-left: 0;
			}
			._svg {
				max-width: 10rem;
				transition: max-width 500ms;
				width: 100%;
				height: auto;
			}
		}
    .menu-item:nth-child(9) {
			height: 5rem;
			align-self: center;
			a {
				//display: flex;
				//flex-direction: column;
				//align-items: center;
				padding: .5rem 1rem;
				background: var(--color-primary);
				font-size: 10px;
				line-height: 1.2;
				letter-spacing: .1em;
				// &:after {
				// 	display: inline-block;
				// 	content: '8 a.m. -  Noon';
				// 	word-wrap: none;
				// 	white-space: nowrap;
				// 	letter-spacing: 0;
				// }
			}
			// ._svg {
			// 	max-width: 1.2rem;
			// 	width: 100%;
			// 	height: auto;
			// 	margin-bottom: .2rem;
			// 	opacity: 1;
			// 	transition: width 500ms, opacity 500ms, height 500ms;
			// }
		}
	}
	.scrolled {
		.nav-wrapper {
			height: 3rem;
		}
		.menu-main-menu-container .nav-menu[aria-expanded="false"],
		.menu-main-menu-container .nav-menu[aria-expanded="true"] {
			transition: height 500ms;
			height: 3.5rem;
			.menu-item {
				transition: max-height 500ms;
				max-height: 3.5rem;
			}
			#menu-item-988 {
				._svg {
					transition: max-width 500ms;
					max-width: 6rem;
				}
			}
      .menu-item:nth-child(9) {
				height: 3rem;
				// ._svg {
				// 	width: 0;
				// 	height: 0;
				// 	opacity: 0;
				// 	transition: width 500ms, opacity 500ms, height 500ms;
				// }
			}
		}
	}
	.nav-social {
		display: none;
	}
}
