.home {
    .wp-block-cover {
        transition: background 1000ms;
        p {
            font-size: var(--size-600) !important;
        }
        .inline-icon {
            font-weight: 300;
            a {
                color: var(--color-white);
                &:hover {
                    text-decoration: none;
                    text-decoration-thickness: 1px;
                }
            }
        }
    }
    .home-market-values {
        .is-style-caption-overlay-square {
            figcaption {
                font-family: var(--font-heading);
                font-size: var(--size-900);
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 48rem) {
    .home {
        .home-market-values {
            .is-style-caption-overlay-square {
                figcaption {
                    font-size: var(--size-800);
                }
            }
        }
    }
}


@media (min-width: 64rem) {
    .home {
        .wp-block-cover {
            p {
                font-size: var(--size-600) !important;
            }
        }
        .home-market-values {
            .is-style-caption-overlay-square {
                figcaption {
                    font-size: var(--size-600);
                }
            }
        }
    }
}
